<!-- Uso de @Input - Envia mensaje desde el padre hacia el hijo-->
<!-- <div class="alert alert-info w-50 mx-auto"> 
    <p>{{ mensaje }}</p> 
</div> -->

<!-- Uso de @Output - Envia mensaje desde el Hijo hacia el Padre-->
<!--<div class="container">
    <button class="btn btn-primary" (click)="enviarMensaje()">Enviar Mensaje al Padre</button>
</div> -->


<!-- Uso de @ViewChild. - vamos a acceder a un componente hijo desde el componente padre-->
<div class="alert alert-info w-50 mx-auto"> 
<p>{{ mensajeViewChild }}</p> 
</div> 